// footer component scss

footer {
    position:relative;
    padding:6rem;
    background-color:#111;
    color: rgba(#535252, 1);
    font-family:$font-3;
    font-weight:900;
    h5, h6 {
        font-weight:900;
        font-size:17px;
        line-height:1.6;
    }
    h6 {
        &:hover {
            cursor:pointer;
            color:rgba(#555, 1);
        }
    }
    h5 {
        color: rgba(white, 0.5);
    }
    .footer__heading_1 {
        color:rgba(white, 0.7);
        font-family: $font-1;
        .h_ {
            font-size: 15px;
        }
        .h__ {
            font-size: 30px;
        }
        .h___{
            font-size: 17px;
        }
        .collab_line {
            color: rgba(white, 0.3);
            font-family: $font-3;
            font-size: 10px;
        }
    }
    .developer__section {
        font-weight:900;
        font-size:13px;
        color:#005E64;
        span {
            color:#04777E;
        }
    }
    .form_group_footer {
        position:relative;
        label {
            margin-top:1.2rem;
        }
        input {
            font-size: 12px;
            &:focus {
                outline: none !important;
                box-shadow: none !important;
            }
            
            background-color:rgba(#E7E3E3, 1) !important;
        }
        .fa-send-o {
            position:absolute;
            right:10px;
            bottom:11px;
            
        }
        .fa-send-o {
            bottom: 9%;
            background-color:rgba(#E7E3E3, 1);
        }
    }
    .ecell_newsletter_section_footer {
        margin-top: -6.7rem;
        background: linear-gradient(90deg, #27C8EC 0%, #08A9DC 100%);
        padding: 2rem;
        border-radius:0 0.4rem 0.4rem 0.4rem;
        &::after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border-bottom: 0.6rem solid #5f5d5d;
            border-left: 0.4rem solid transparent;
            // bottom: 10px;
            left: -7px;
            top: 1px;
        }
        .paper_clip {
            z-index: 1;
            position: absolute;
            right: 0.6rem;
            top: -0.3rem;
            transform: rotateZ(10deg);
        }
        .graphic_circle {
            z-index: 0;
            position: absolute;
            right: 6px;
            top: 4px;
        }
    }
    .email_newsletter_heading {
        color: black;
    }
    form {
        label {
            color: black;
        }
    }
    .footer_links {
        a {
            text-decoration: none;
            color: #535252;
        }
    }
}

@media (max-width:500px) {
    footer {
        padding: 1.1rem;

        .footer_links {
            margin: 2.5rem auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        } 

        .social_media_links_footer {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .ecell_newsletter_section_footer {
            width: 82%;
            margin: 1.2rem auto;
            border-radius: 0.4rem;
            &::after {
                display: none;
            }
        }
        .form_group_footer {
            input {
                font-size: 12px;
            }
        }
        .developer__section {
            h6 {
                font-size: 10px;
            }
        }
    }
}

@media (max-width:320px) {
    footer {
        padding: 1.1rem;

        .footer_links {
            margin: 2.5rem auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        } 

        .social_media_links_footer {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .ecell_newsletter_section_footer {
            margin-top: 1.2rem;
            border-radius: 0.4rem;
            &::after {
                display: none;
            }
        }
        .developer__section {
            h6 {
                font-size: 10px;
            }
        }
    }
}

