@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

h1 {
  font-size: 3rem;
  color: #000;
}
// .section {
//   // height: 80vh;
//   width: 100%;
//   position: relative;
//   padding: 0;
//   overflow-x: hidden;
//   // transition: all 0.5s;
// }
// .portfolio {
//   width: 100%;
//   // height: 100vh;
//   display: flex;
//   flex-wrap: nowrap;
//   // background-color: black;
//   background-image: linear-gradient(to right, rgba(#56ebeb, 1), rgba(rgb(1, 187, 48), 1));
//   background-image:-webkit-linear-gradient(0deg, #ffa745 0%, #fe869f 30%, #ef7ac8 45%, #a083ed 70%, #43aeff 85%);
//   overflow: hidden;
// }
// .portfolio_title {
//   position: absolute;
//   font-family: $font-1;
// 	top: 0;
// 	left: -15rem;
// 	font-size: 24rem;
// 	letter-spacing: 0;
// 	-webkit-text-stroke-color: #c4cdd8;
// 	display: inline-block;
// }
.text-stroke {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: rgba(#29C0C0, 0.3);
}
// .grid {
//   display: flex;
//   flex-wrap: wrap;
//   align-items: center;
//   align-content: center;
//   justify-content: center;
//   overflow: hidden;
// }
// .panel {
//   display: flex;
//   flex: 0 0 50%;
//   flex-wrap: wrap;
//   align-items: center;
//   align-content: center;
//   justify-content: center;
// 	height: 100%;
//   // padding: 1.2rem; 10rem 7rem 2rem 7rem;
//   background-color: transparent;
//   overflow: hidden;

// }
// .panel_item {
// 	height: 100%;
// 	width: 100%;
//   margin: 0 auto;
// }




.renissance_image_gallery {
  img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    
  }

  h4 {
    margin-top: 1.5rem;
  }
  h4, p {
    color: rgba(white, 0.7);
  }

  p {
    font-size: 14px;
    max-width: 22rem;
  }
}

.image_gallery {
  h1 {
    text-align: center;
    font-family: $font-1;
    color: white;
    font-size: 50px;
  }
}

@media (max-width:320px) {
  .renissance_image_gallery {
    img {
      border-radius: 50%;
      width: 250px;
      height: 250px;
      object-fit: cover;
      object-position: center;
      
    }
    p {
      font-size: 14px;
      max-width: 16rem;
    }
  }
}