@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

h1 {
  font-size: 3rem;
  color: #000;
}
// .section {
//   // height: 80vh;
//   width: 100%;
//   position: relative;
//   padding: 0;
//   overflow-x: hidden;
//   // transition: all 0.5s;
// }
// .portfolio {
//   width: 100%;
//   // height: 100vh;
//   display: flex;
//   flex-wrap: nowrap;
//   // background-color: black;
//   background-image: linear-gradient(to right, rgba(#56ebeb, 1), rgba(rgb(1, 187, 48), 1));
//   background-image:-webkit-linear-gradient(0deg, #ffa745 0%, #fe869f 30%, #ef7ac8 45%, #a083ed 70%, #43aeff 85%);
//   overflow: hidden;
// }
// .portfolio_title {
//   position: absolute;
//   font-family: $font-1;
// 	top: 0;
// 	left: -15rem;
// 	font-size: 24rem;
// 	letter-spacing: 0;
// 	-webkit-text-stroke-color: #c4cdd8;
// 	display: inline-block;
// }
.text-stroke {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: rgba(#29C0C0, 0.3);
}
// .grid {
//   display: flex;
//   flex-wrap: wrap;
//   align-items: center;
//   align-content: center;
//   justify-content: center;
//   overflow: hidden;
// }
// .panel {
//   display: flex;
//   flex: 0 0 50%;
//   flex-wrap: wrap;
//   align-items: center;
//   align-content: center;
//   justify-content: center;
// 	height: 100%;
//   // padding: 1.2rem; 10rem 7rem 2rem 7rem;
//   background-color: transparent;
//   overflow: hidden;

// }
// .panel_item {
// 	height: 100%;
// 	width: 100%;
//   margin: 0 auto;
// }




.renissance_image_gallery {
  img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    
  }

  h4 {
    margin-top: 1.5rem;
  }
  h4, p {
    color: rgba(white, 0.7);
  }

  p {
    font-size: 14px;
    max-width: 22rem;
  }
}

.image_gallery {
  min-height: 100vh;
  .masked_text {
    h1 {
      // background: url('../../assets/img_mask.png');
      // background-repeat: no-repeat;
      // background-size: cover;  
      
    // -webkit-text-fill-color: transparent;
    //   -webkit-background-clip: text;
    //   -moz-background-clip:text;
    // background-clip:text;
      text-align: center;
      font-family: $font-1;
      // -webkit-text-stroke: 3px #ffaa00;
      font-size: 70px;
      color:rgb(172, 41, 177);
    }
  }
  
}

.gallery_main_page {
  background-color: rgba(black, 0.9);
  .gallery_page_main_heading {
    font-size: 56px;
    color: rgba(white, 0.8);
    font-family: $font-3;
    margin-top: 5rem;
    color: #C87D5C;
    height: 27vh;
  }
  .to_gallery_top {
    background-color:#C87D5C;
    border-radius: 50%;
    padding: 0.3rem;
    position: fixed;
    right: 20px;
    bottom: 20px;
    color: black;
    font-size: 24px;
    z-index: 1000;

    &:hover {
      cursor: pointer;
    }

  }
  .gallery_img_wrapper {
    .img_wrapper {
      width: 100%;
      height: 100%;

      img {
        z-index: 200;
        // clip-path: inset(0.9rem 0.9rem);
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.3s;
    
        &:hover {
            // clip-path: inset(-0.05rem -0.05rem);
        }
      }
    }
    // background: black;
    
  }
  

}
@media (max-width:500px){
  .image_gallery {

    .masked_text {
      h1 {
       
        font-size: 30px;
        
      }
    }
    
  }
}

@media (max-width:320px) {
  .image_gallery {

    .masked_text {
      h1 {
       
        font-size: 25px;
        
      }
    }
    
  }



  .renissance_image_gallery {
    img {
      border-radius: 50%;
      width: 250px;
      height: 250px;
      object-fit: cover;
      object-position: center;
      
    }
    p {
      font-size: 14px;
      max-width: 16rem;
    }
  }
}
@media (max-width:300px){
  .image_gallery {

    .masked_text {
      h1 {
       
        font-size: 25px;
        
      }
    }
    
  }
}