// navbar component scss

.navbar__container {
    z-index: 0;
    // font-family: $font-1;
    background: rgba(black, 1);
    color: rgba(white, 0.9);
    .sideBar {
        list-style: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        z-index: 1;
        overflow-x: hidden;
        transition: all 0.3s;
        .sideBar-item {
            padding: 2rem;
        }
    }
}
.icon-bar {
    width: 2.2rem;
    height: 0.2rem;
    margin: 0.4rem;
    border-radius: 6px;
    background-color: #3e3e3e;
    display: block;
    transition: all 0.2s;
    margin-top: 4px
}
.navbar-toggler {
    border: none;
    background: transparent !important;
  }
  
//   .navbar-toggler .top-bar {
//     transform: rotate(45deg);
//     transform-origin: 10% 10%;
//   }
  
//   .navbar-toggler .middle-bar {
//     opacity: 0;
//   }
  
//   .navbar-toggler .bottom-bar {
//     transform: rotate(-45deg);
//     transform-origin: 10% 90%;
//   }
  
//   .navbar-toggler.collapsed .top-bar {
//     transform: rotate(0);
//   }
  
//   .navbar-toggler.collapsed .middle-bar {
//     opacity: 1;
//   }
  
//   .navbar-toggler.collapsed .bottom-bar {
//     transform: rotate(0);
//   }
  button.navbar-toggler:focus, .navbar-toggler:active, .navbar-toggler-icon:focus{
    outline: none !important;
    border:none;
    box-shadow:none;
}