@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

.toggle_radio{
  position: relative;
  background: rgba(255,255,255,.1);
  margin: 4px auto;
  overflow: hidden;
  padding: 0 !important;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  position: relative;
  height: 26px;
  width: 258px;
}
.toggle_radio > * {
  float: left;
}
.toggle_radio input[type=radio]{
  display: none;
  /*position: fixed;*/
}
.toggle_radio label{
  font: 90%/1.618 "Source Sans Pro";
  color: rgba(216, 216, 216, 0.9);
  z-index: 0;
  display: block;
  width: 80px;
  height: 20px;
  margin: 2px 2px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  cursor: pointer;
  z-index: 1;
  text-align: center;


}
.toggle_option_slider{
  width: 80px;
  height: 20px;
  position: absolute;
  top: 3px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
}

#first_toggle:checked ~ .toggle_option_slider{
  background: rgba(161, 161, 161, 0.3);
  left: 3px;
}
#second_toggle:checked ~ .toggle_option_slider{
  background:  rgba(161, 161, 161, 0.3);
  left: 89px;
}
#third_toggle:checked ~ .toggle_option_slider{
  background:  rgba(161, 161, 161, 0.3);
  left: 175px;
}

.startups_section {
    h1 {
        font-family: $font-2;
        font-size: 66px;
        color: rgba(rgb(163, 26, 67), 1);
    }
}