.landing_page_top_section__container {
    background-color: rgba(white, 1);
    height: 90vh;
    position: relative;
    .main_page_heading_container {
        padding-top: 3rem;
    }
    .landing_page_main_heading {
        font-size: 50px;
        font-family: $font-1;
        color: #3E3E3E;
        line-height: 1.5;
    }
    .page_curve {
        position: absolute;
        width: 100%;
        bottom: -0.5rem;
    }
    .follow_us {
        margin: 1rem 0 0 0;
    }
    .social_media_container {
        padding: 0 0 0 0.5rem;
        
        .social_media_item {
            opacity: 0.9;
            &:hover {
                opacity: 1;
                cursor: pointer;
            }
        }
        
    }
}