.carousel {
    height: 60vh;
    margin: 0 auto;
    width: 90%;
    color: rgba(white, 1);
      .carousel-indicators {
        li {
          width: 0.5rem;
          height: 0.5rem;
          border-radius: 50%;
          background-color: #343232;
        }
        .active {
          background-color: #004168 !important;
          color: #004168 !important;
        }
      }
      .carousel-control-next {
        position: absolute;
        right: -12%;
      }
      .carousel-control-prev {
        position: absolute;
        left: -12%;
      }
    }
    .carousel_container {
      // background: rgba(#222,0.2);
      width: 44%;
      margin: 0 auto;
  
    }
    .carousel-control-next-icon {
      background-image: url("../../assets/carousel_arrow_next.svg") !important;
    }
    .carousel-control-prev-icon {
      background-image: url("../../assets/carousel_arrow_prev.svg") !important;
    }
    .img_carousel_main_heading_wrapper {
      margin: 4rem 0;
      .img_carousel_main_heading {
        font-size: 56px;
        font-family: $font-1;
        font-weight: 700;
        background: linear-gradient(90.11deg, #2982D3 0.12%, #84CBD0 100.83%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  
  
  .img_wrapper {
    display: flex;
    justify-content: center;
    .person_img{
      margin-bottom: -14%;
      border-radius: 50%;
      top: -25%;
      z-index: 9;
      width: 25%;
    }
  }
  .carousel_item_wrapper {
    .carousel_each_item_container {
      height: 40vh;
      background: rgba(#9C9C9C, 0.12);
      border-radius: 0.4rem;
      border-top: 6px solid rgba(#004168, 1);
    }
  }
  .item_content {
    margin-top: 8rem;
    p {
      text-align: justify;
      margin-top: 2rem;
      padding: 0 4rem;
      color: rgba(#e0dcdc, 0.8);
      font-weight: 600;
      font-family: $font-3;
    }
   .citation {
     display: flex;
     justify-content: center;
     color: rgba(#e0dcdc, 0.5);
     font-weight: 600;
     cite {
      .long_hyphen {
        height: 1px;
        width: 6px;
        background-color: rgba(#d3d3d3, 1);
      }
     }
   }
  }
  
  .blockquote {
    position: absolute;
    z-index: -1;
    bottom: 6rem;
    left: 0;
    svg {
      transform: scale(0.5);
    }
  }
  
  @media (min-width:121px) and (max-width:300px) {
    .carousel {
      width: 94%;
      height: 50vh;
    }
    .carousel-inner {
      height: 43vh;
    }
    .carousel_container {
      width: 100%;
    }
    .carousel-control-prev-icon {
      position: absolute;
      top: 50%;
      left: 60%;
    }
    .carousel-control-next-icon {
      position: absolute;
      top: 50%;
      right: 60%;
    }
    .img_wrapper {
      .person_img{
        width: 40%;
      }
    }
    .item_content {
      // margin-top: 8rem;
      margin-top: 3rem;
      p {
        text-align: center;
        // margin-top: 2rem;
        // padding: 0 4rem;
        padding: 1rem;
        margin: 0;
        font-size: 0.7rem;
      }
      h1 {
        text-align: center;
        margin-top: -2rem;
      }
     .citation {
       cite {
         font-size: 0.6rem;
       }
     }
    }
    .blockquote {
      bottom: 32%;
      left: -30%;
      svg {
        transform: scale(0.3);
      }
    }
  }
  @media (min-width:300px) and (max-width:425px) {
    .carousel {
      width: 88%;
      height: 65vh;
    }
    .carousel-inner {
      height: 70vh;
    }
    .carousel_item_wrapper {
      .carousel_each_item_container {
        height: 50vh;
        background: rgba(#9C9C9C, 0.12);
        border-radius: 0.4rem;
        border-top: 6px solid rgba(#004168, 1);
      }
    }
    .carousel_container {
      width: 100%;
    }
    .carousel-control-prev-icon {
      position: absolute;
      top: 50%;
      left: 60%;
    }
    .carousel-control-next-icon {
      position: absolute;
      top: 50%;
      right: 60%;
    }
    .img_wrapper {
      .person_img{
        width: 40%;
        margin-bottom: -20%;
        
      }
    }
    .item_content {
      margin-top: 4.5rem;
      p {
        text-align: center;
        padding: 1.5rem;
        margin-top: 0;
        font-size: 0.9rem;
      }
     .citation {
       cite {
         font-size: 0.8rem;
       }
     }
    }
    .blockquote {
      bottom: 35%;
      left: -22%;
      svg {
        transform: scale(0.4);
      }
    }
  }
  
  @media (min-width:425px) and (max-width:630px) {
    .carousel {
      width: 88%;
      height: 56vh;
    }
    .carousel-inner {
      height: 70vh;
    }
    .carousel_container {
      width: 100%;
    }
    .carousel-control-prev-icon {
      position: absolute;
      top: 50%;
      left: 60%;
    }
    .carousel-control-next-icon {
      position: absolute;
      top: 50%;
      right: 60%;
    }
    .img_wrapper {
      .person_img{
        width: 30%;
        margin-bottom: -15%;
        
      }
    }
    .item_content {
      // margin-top: 8rem;
      margin-top: 4.5rem;
      p {
        text-align: justify;
        // margin-top: 2rem;
        // padding: 0 4rem;
        padding: 1.5rem;
        margin-top: 0;
        font-size: 0.9rem;
      }
     .citation {
       cite {
         font-size: 0.8rem;
       }
     }
    }
    .blockquote {
      bottom: 20%;
      left: -8%;
      svg {
        transform: scale(0.5);
      }
    }
  }
  
  @media (min-width:630px) and (max-width:667px) {
    .carousel {
      width: 88%;
      height: 63vh;
    }
    .carousel-inner {
      height: 70vh;
    }
    .carousel_container {
      width: 100%;
    }
    .carousel-control-prev-icon {
      position: absolute;
      top: 53%;
      left: 60%;
    }
    .carousel-control-next-icon {
      position: absolute;
      top: 53%;
      right: 60%;
    }
    .img_wrapper {
      .person_img{
        width: 40%;
        margin-bottom: -20%;
        
      }
    }
    .item_content {
      // margin-top: 8rem;
      margin-top: 6rem;
      p {
        text-align: justify;
        // margin-top: 2rem;
        // padding: 0 4rem;
        padding: 1.5rem;
        margin-top: 0;
        font-size: 0.9rem;
      }
     .citation {
       cite {
         font-size: 0.8rem;
       }
     }
    }
    .blockquote {
      bottom: 16%;
      left: 2%;
      svg {
        transform: scale(0.55);
      }
    }
  }
  @media (min-width:667px) and (max-width:768px) {
    .carousel {
      width: 88%;
      height: 63vh;
    }
    .carousel-inner {
      height: 70vh;
    }
    .carousel_container {
      width: 100%;
    }
    .carousel-control-prev-icon {
      position: absolute;
      top: 53%;
      left: 80%;
    }
    .carousel-control-next-icon {
      position: absolute;
      top: 53%;
      right: 80%;
    }
    .img_wrapper {
      .person_img{
        width: 40%;
        margin-bottom: -20%;
        
      }
    }
    .item_content {
      // margin-top: 8rem;
      margin-top: 6rem;
      p {
        text-align: justify;
        // margin-top: 2rem;
        // padding: 0 4rem;
        padding: 1.5rem;
        margin-top: 0;
        font-size: 0.9rem;
      }
     .citation {
       cite {
         font-size: 0.8rem;
       }
     }
    }
    .blockquote {
      bottom: 16%;
      left: 2%;
      svg {
        transform: scale(0.55);
      }
    }
  }
  @media (min-width:768px) and (max-width:991.98px) {
    .carousel {
      width: 88%;
      height: 67vh;
    }
    .carousel-inner {
      height: 70vh;
    }
    .carousel_container {
      width: 100%;
    }
    .carousel-control-prev-icon {
      position: absolute;
      top: 50%;
      left: 60%;
    }
    .carousel-control-next-icon {
      position: absolute;
      top: 50%;
      right: 60%;
    }
    .img_wrapper {
      .person_img{
        width: 30%;
        margin-bottom: -14.5%;
        
      }
    }
    .item_content {
      // margin-top: 8rem;
      margin-top: 6rem;
      p {
        text-align: justify;
        // margin-top: 2rem;
        // padding: 0 4rem;
        padding: 1.5rem;
        margin-top: 0;
        font-size: 0.9rem;
      }
     .citation {
       cite {
         font-size: 0.8rem;
       }
     }
    }
    .blockquote {
      bottom: 16%;
      left: 2%;
      svg {
        transform: scale(0.55);
      }
    }
  }
  
  @media (min-width:991.98px) and (max-width:1150px) {
    .carousel {
      width: 60%;
      height: 56vh;
    }
    .carousel-inner {
      height: 70vh;
    }
    .carousel_container {
      width: 100%;
    }
    .carousel-control-prev-icon {
      position: absolute;
      top: 50%;
      left: 60%;
    }
    .carousel-control-next-icon {
      position: absolute;
      top: 50%;
      right: 60%;
    }
    .img_wrapper {
      .person_img{
        width: 20%;
        margin-bottom: -10%;
        
      }
    }
    .item_content {
      // margin-top: 8rem;
      margin-top: 6rem;
      p {
        text-align: justify;
        // margin-top: 2rem;
        // padding: 0 4rem;
        padding: 1.5rem;
        margin-top: 0;
        font-size: 0.9rem;
      }
     .citation {
       cite {
         font-size: 0.8rem;
       }
     }
    }
    .blockquote {
      bottom: 16%;
      left: 2%;
      svg {
        transform: scale(0.55);
      }
    }
  }
  
  @media only screen and (min-width:1150px) {
    .carousel {
      width: 60%;
      height: 59vh;
    }
    .carousel-inner {
      height: 70vh;
    }
    .carousel_container {
      width: 100%;
    }
    .carousel-control-prev-icon {
      position: absolute;
      top: 52%;
      left: 60%;
    }
    .carousel-control-next-icon {
      position: absolute;
      top: 52%;
      right: 60%;
    }
    .img_wrapper {
      .person_img{
        width: 20%;
        margin-bottom: -10%;
        
      }
    }
    .item_content {
      // margin-top: 8rem;
      margin-top: 12.5%;
      p {
        text-align: justify;
        // margin-top: 2rem;
        // padding: 0 4rem;
        padding: 1.5rem 6rem 0 6rem;
        margin-top: 0;
        font-size: 0.9rem;
      }
     .citation {
       cite {
         font-size: 0.8rem;
       }
     }
    }
    .blockquote {
      bottom: 20%;
      left: 2%;
      svg {
        transform: scale(0.75);
      }
    }
  }