@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');
@import url('https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@font-face {
    font-family: DIN;
    src:url('./DIN-Black.ttf')
}
@font-face {
    font-family: ayar_juno;
    src:url('./ayar_juno.ttf')
}
$font-1:DIN;
$font-2:ayar_juno;
$font-3:Spartan;
$font-4:Fira Code;